.navbar {
    height: 50px;
    background: #000;
  }
  
  .sidebar-item.active{
    background: rgb(4, 123, 170); 
    border-left: 5px solid rgb(255, 255, 255)!important;
  }
  .sidebar-item.active:hover{
    background: rgb(1, 108, 150);
  }
  .sidebar-link.active {
    color: #fff;
    text-decoration: none !important;
  }

  a:hover, a:visited, a:link, a:active {
    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
  
  /* critical-point */
  .main-navbar {
    position: fixed;
    background: #000;
    width: 88%;
    padding-top:1px;
    color:#fff
  }
  
  /* critical-point */
  .container-fluid {
    padding-top: 55px;
  }
  
  
  







  
   body {
    overflow-x: hidden;
  }
  
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-left: 230px;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 230px;
    width: 230px;
    height: 100%;
    margin-left: -230px;
    overflow-y: auto;
    background: grey;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 230px;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -230px;
  }
  
  
  /* Sidebar Styles */
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* removed */
  .sidebar-nav li {
    
    text-indent: 10px;
    line-height: 40px;
   
  }
  
  .sidebar-nav li a {
    display: block;
    /* text-decoration: none; */
    color: #000;
  }
  
  .sidebar-nav li:hover {
    /* text-decoration: none; */
    color: #fff;
    background: rgb(169, 220, 241);
  }
  
  .sidebar-nav li a:hover {
    /* text-decoration: none; */
    color: #fff;
  }
  
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    /* text-decoration: none; */
  }
  
  /*critical point*/
  .sidebar-nav>.sidebar-brand {
    height: 55px;
    background: #000;
  }

  .app-logo-brand{
    padding: 1px;
  }
  .app-logo-brand-img{
    height: 50px;
    width:225px;
    margin: 2px;
    display: flex;
  }

  @media(max-width:767px) { /* This is a very important thing here */
    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-left: 230px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 230px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }
  