# Handle all the catch errors in UI forms
# Redirect from account activate page after sucessful account activation 



sudo mongod --dbpath /System/Volumes/Data/data/db 


populate({
path:'posts',
    populate({
         path:'user'
         select:'name email age'
    })
})



1) When an appointment is rescheduled or cancelled, update the user availability time slot status to available based on the validity of the time.
2) Write cron job to reject all the previous day pending requests appointments.
3) Login with google
