.forgot-password-form{
    margin-top: 10%;
    background-color: #000000;
    border-radius: 1.5rem 0rem 1.5rem 1.5rem;
    padding: 1rem;
}

.forgot-password-form-info{
    display:flex;
    align-items: center;
    justify-content:center;
}

.forgot-password-form-logo{
    width:40px;
    height:40px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.forgot-password-form-heading{
    color: #fff;
    margin: 0 !important;
}
.forgot-password-btn-hover{
    background-color: #0EB246;
}

.forgot-password-btn{
    background-color: #00B5D7;
}

.user-signin-redirect{
    display:flex;
    color: #fff;
    text-align: center;
    margin-left: 2px;
}

.user-signin-redirect p{
    margin:0 !important
}
.user-signin-redirect-link{
    color: #00B5D7;
    margin-left: 0.25rem;
    font-weight: bold;
}