.password-reset-form{
    margin-top: 10%;
    background-color: #000000;
    border-radius: 1.5rem 0rem 1.5rem 1.5rem;
    padding: 1rem;
}

.password-reset-form-heading{
    color: #fff;
    margin: 0 !important;
}

.password-reset-form-text{
    color: #fff;
}

.reset-password-btn{
    background-color: #00B5D7;
}

.reset-password-btn-hover{
    background-color: #0EB246;
}
.password-reset-form-logo{
    width:40px;
    height:40px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.password-reset-form-info{
    display:flex;
    align-items: center;
    justify-content:center;
}