.user-signin-form{
    margin-top: 10%;
    background-color: #000000;
    border-radius: 1.5rem 0rem 1.5rem 1.5rem;
    padding: 1rem;
}

.signin-btn{
    background-color: #00B5D7;
}

.signin-btn-hover{
    background-color: #0EB246;
}

.user-signin-form-info{
    display:flex;
    align-items: center;
    justify-content:center;
}

.user-signin-text{
    color: #fff;
    margin-bottom: 0 !important;
    margin-top:0 !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.user-signin-logo{
    width:40px;
    height:40px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.user-signup-redirect{
    display:flex;
    color: #fff;
    text-align: center;
    margin-left: 2px;
}

.user-signup-redirect p{
    margin: 0 !important;
}

.user-signup-redirect-link{
    color: #00B5D7;
    margin-left: 0.25rem;
}

/* .user-signup-redirect-link a :hover{
    color: #00B5D7
} */

.forgot-password-redirect{
    display: flex;
    color: #fff;
    text-align: center;
    margin-left: 2px;
}

.forgot-password-redirect p{
    margin: 0 !important;
}

.forgot-password-redirect-link{
    color: #00B5D7;
    margin-left: 0.25rem;
}

a:hover {
    color:#0EB246; 
    text-decoration:none; 
    cursor:pointer;  
}