.user-signup-form{
    margin-top: 10%;
    background-color: #000000;
    border-radius: 1.5rem 0rem 1.5rem 1.5rem;
    padding: 1rem;
}

.signup-btn{
    background-color: #00B5D7;
}
.signup-btn-hover{
    background-color: #0EB246;
}

.user-signup-form-info{
    display:flex;
    align-items: center;
    justify-content:center;
}

.user-singup-text{
    color: #ffffff;
    margin-bottom: 0 !important;
    margin-top:0 !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.user-signup-logo{
    width:40px;
    height:40px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.user-signin-redirect{
    display:flex;
    color: #fff;
    text-align: center;
    margin-left: 2px;
}

.user-signin-redirect p{
    margin:0 !important
}
.user-signin-redirect-link{
    color: #00B5D7;
    margin-left: 0.25rem;
    font-weight: bold;
}

.signup-type-label{
    color: #ffffff;
    margin-left: 4px;
}