.card-main{
    border-top-left-radius: 60px;
    padding: 5px;
    border-width: 2px 2px 5px 2px; /* top right bottom left */
    border-style: solid;
    border-color: #00B5D7;
}

.card-image{
    height: 100px;
    width: 100px;
    border-radius: 60px;
}

