.time-slot{
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.time-slot:hover{
    background:#c3bfbf;
    border: 2px solid #00B5D7;
}

.time-slot label {
    float:left;
    width:4.0em;
}

.time-slot label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

.time-slot label input {
    position:absolute;
    top:-20px;
}

.time-slot input:checked + span {
    background-color:#16609D;
    color:#fff;
}